!!!!!!!!!!!!!!
! Xft settings
!!!!!!!!!!!!!!
Xft.dpi:        96

!!!!!!!!!!!!!!!!!!!!!
! Xterm configuration
!!!!!!!!!!!!!!!!!!!!!
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*termName:xterm-256color
XTerm*loginShell: true
XTerm*borderWidth: 0
XTerm*SaveLines: 65535
XTerm*visualbell: true
XTerm*bellIsUrgent: true
XTerm*faceName: xft:mono:medium:size=10

! terminal colours
XTerm*foreground:#839496
XTerm*background:#002b36

! cursor theme
Xcursor.theme: Paper
